.rental__summary {
  border-radius: $radius;
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0 20px;
  @include md {
    flex-direction: row;
  }
  @include lg {
    max-width: 30%;
    flex-direction: column;
  }
  .first {
    @include md {
      width: 40%; 
    }
    @include lg {
      all: unset;
    }
  }
  .car__info {
    margin: 24px 0 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    // padding-bottom: 30px;
    img {
        height: 70px;
    }
    .name__review {
        min-width: 60%;
        h3 {
          margin-bottom: 12px;
        }
        .review {
          .rate,
          > span {
            font-size: $xs;
            display: block;
            margin-bottom: 4px;
          }
        }
    }
  }
  .border {
    border: 1px solid #c3d4e966;
    margin-bottom: 16px;
    @include md {
      margin-bottom: 0;
    }
    @include lg {
      margin-bottom: 16px;
    }
  }
  .second {
    .subtotal,
    .tax {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      h6 {
        color: $neutral-light-300;
        font-weight: $semiBold;
      }
      > span {
        font-size: $base;
        font-weight: $semiBold;
      }
    }
    .promo__code , .apply {
      margin: 24px 0;
    }
    .total__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > span {
          font-size: $lg-2;
          font-weight: $bold;
      }
    }
  }


}

.apply {
  font-weight: 600;
  color: $neutral-default-500;
  padding: 18px 24px;
  font-size: $xs;
  background-color: $bg-color;
  border-radius: $radius;
  color: $neutral-light-300;
  font-weight: $medium;
  border: none;
  box-shadow: none;
  height: auto;
  @include xl {
    padding: 16px 32px;
    font-size: $sm;
  }
}
