// Primary
$primary-light-100: #d6e4fd;
$primary-light-200: #aec8fc;
$primary-light-300: #85a8f8;
$primary-light-400: #658df1;
$primary-default-500: #3563e9;
$primary-dark-600: #264bc8;
$primary-dark-700: #1a37a7;
$primary-dark-800: #102587;
$primary-dark-900: #0a196f;

// Success
$success-light-100: #f5fcd2;
$success-light-200: #e8faa6;
$success-light-300: #d3f178;
$success-light-400: #bce455;
$success-default-500: #9cd323;
$success-dark-600: #7fb519;
$success-dark-700: #659711;
$success-dark-800: #4c7a0b;
$success-dark-900: #3b6506;

// Error
$error-light-100: #ffe7d3;
$error-light-200: #ffc8a6;
$error-light-300: #ffa37a;
$error-light-400: #ff7f59;
$error-default-500: #ff4423;
$error-dark-600: #db2719;
$error-dark-700: #b71112;
$error-dark-800: #930b16;
$error-dark-900: #7a0619;

// Warning
$warning-light-100: #fff8d7;
$warning-light-200: #ffefb0;
$warning-light-300: #ffe488;
$warning-light-400: #ffd96b;
$warning-default-500: #ffc73a;
$warning-dark-600: #dba32a;
$warning-dark-700: #b7821d;
$warning-dark-800: #936312;
$warning-dark-900: #7a4d0b;

// Info
$info-light-100: #fff5e6;
$info-light-200: #ffeacc;
$info-light-300: #ffd699;
$info-light-400: #ffc266;
$info-default-500: #ffad33;
$info-dark-600: #ff9900;
$info-dark-700: #cc7a00;
$info-dark-800: #995c00;
$info-dark-900: #663d00;

// Secondary
$neutral-light-100: #e0e9f4;
$neutral-light-200: #c3d4e9;
$neutral-light-300: #90a3bf;
$neutral-light-400: #596780;
$neutral-default-500: #1a202c;
$neutral-dark-600: #131825;
$neutral-dark-700: #0d121f;
$neutral-dark-800: #080c19;
$neutral-dark-900: #040815;
