@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

$font-jakatra: 'Plus Jakarta Sans', sans-serif;
$bg-color : #F6F7F9 ;
$radius: 10px;

$xs: 12px;
$sm: 14px;
$base: 16px;
$lg-1: 18px;
$lg-2: 20px;
$xl-1: 24px;
$xl-2: 32px;
$xxl-1: 36px;
$xxl-2: 40px;
$xxxl: 72px;

$extraLight:200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
